<script type="text/javascript">
var qb; 
$(function(){
  sl = new SelectorLibrary();
  $('.library-item').draggable({
    cancel: "a.ui-icon", // clicking an icon won't initiate dragging
    revert: "valid", // when not dropped, the item will revert back to its initial position
    containment: 'window',
    helper: "clone",
    cursor: "move"
  });  

})

function SelectorLibrary(){
  var scope = this;
  this.current = "burst";

  $('div.selector.library-item').click(function(){
    var fn = $(this).data('fn');
    var collection = scope[fn]();
    scope.select(collection);
  });
  this.tool = new paper.Tool();
  this.tool.onMouseDown = function(event){
    var leds = CanvasUtil.queryPrefix("NLED");
    var leds = _.filter(leds, function(led){
      return led.contains(event.point);
    });
    _.each(leds, function(led){
      sm.ledAdd(led);
    });
    
    sm.update();

    // var c = new paper.Path.Circle({
    //   position: event.point, 
    //   fillColor: "red", 
    //   radius: 5
    // });
  }
}

SelectorLibrary.prototype = {
  enableTool: function(){
    paper.tool = this.tool;
  },
  disableTool: function(){
    paper.tool = null;
  },
  getCurrent: function(){
    return this[this.current]();
  },
  select: function(fn){
    sm.clear();
    _.each(fn, function(led){
      sm.ledAdd(led);
    });
    sm.update();
  }, 
  none: function(){
    return [];
  },
  burst: function(){
    leds = CanvasUtil.queryPrefix("NLED");
    leds = _.sortBy(leds, function(led){
      led.delay = led.position.getDistance(paper.view.center);
      return led.position.getDistance(paper.view.center);
    });
    return leds;
  },
  all: function(){
    paper = mainPaper;
    leds = CanvasUtil.queryPrefix("NLED");
    leds = _.sortBy(leds, function(led){
      return led.position.getDistance(paper.view.center);
    });
    return leds;
  }, 
  center: function(){
    var leds = this.all();
    leds = _.filter(leds, function(led){
      return led.position.getDistance(paper.view.center) < 100;
    });
    return leds;
  },
  not_center: function(){
    var leds = this.all();
    leds = _.reject(leds, function(led){
      return led.position.getDistance(paper.view.center) < 100;
    });
    return leds;
  },
  train_station: function(){
    var led = CanvasUtil.query(paper.project, {prefix: "NLED", lid: 2});
    return led;
  }, 
  lone_star: function(){
    var led = CanvasUtil.query(paper.project, {prefix: "NLED", lid: 3});
    return led;
  }, 
  main_flower: function(){
    return _.reject(CanvasUtil.queryPrefix("NLED"), function(led){ return led.lid == 3; });
  },
  you_are_here: function(){
    var led = CanvasUtil.query(paper.project, {prefix: "NLED", lid: 7});
    return led;
  }, 
  path_to_station: function(){
    from = this.you_are_here()[0];
    to = this.train_station()[0];
    var directions  = new paper.Path.Line({
      from: from.position, 
      to: to.position,
      strokeWidth: 3, 
      strokeColor: "purple"
    });
    var leds = this.all();
    leds = _.filter(leds, function(led){
      var p = directions.getNearestPoint(led.position);
      console.log("DIST", led.position.getDistance(p));
      return led.position.getDistance(p) < 80;
    });
    leds = _.sortBy(leds, function(led){
      var p = directions.getNearestPoint(led.position);
      
      return directions.getOffsetOf(p);
    });
    return leds;
  }
}
</script>

<div id="selector-library" class="widget status">
	<label class="label-normal widget-title" name="selectors"></label>
	<div class="widget-body scroll-list">
   
    <div  data-fn="train_station" class="selector library-item"> 
      <%= image_tag "/actuation/selectors/train_station.png", :width => "100%" %>
      <span class="title">
        train_station
      </span> 
    </div>

    <div  data-fn="you_are_here" class="selector library-item"> 
      <%= image_tag "/actuation/selectors/you_are_here.png", :width => "100%" %>
      <span class="title">
        you_are_here
      </span> 
    </div>
    <div  data-fn="path_to_station" class="selector library-item"> 
      <%= image_tag "/actuation/selectors/path_to_station.png", :width => "100%" %>
      <span class="title">
        path_to_station
      </span> 
    </div>
     <div  data-fn="lone_star" class="selector library-item"> 
      <%= image_tag "/actuation/selectors/path_to_station.png", :width => "100%" %>
      <span class="title">
        lone-star
      </span> 
    </div>
     <div  data-fn="main_flower" class="selector library-item"> 
      <%= image_tag "/actuation/selectors/path_to_station.png", :width => "100%" %>
      <span class="title">
        main_flower
      </span> 
    </div>


	</div>
</div>
<style type="text/css">
#selector-library .widget-body{
   height: 100px;
}
</style>
