:javascript
  const ports = #{@ports.to_json.html_safe};
  const files = #{@files.to_json.html_safe};
  var act, sc, ws, fs, cmp, tsm, sm, am, record, aw, gm, tw, vm;

  var PROJECT = {
    CANVAS_COLOR: "rgb(245, 244, 240)"
  }
  
  $(function(){
    ws = new WebStorage
    // FILE MANAGER
    dom = 'projectviewer canvas'
    fs = new ProjectFileManager({
      paper: Utility.paperSetup(dom),
      files: files, 
      selector: $("#file-selector"),
      onLoad: function(data){
        $(dom).css('background', PROJECT.CANVAS_COLOR);
        AestheticActuation.enable(paper);
      }
    });
    // SOCKET CONTROL
    sc = new SocketControl({
        socket_port: 3015,
        ports: ports,
        trigger: $('#port-connect'),
        selector: $('#port-selector'),
        status: $('#port-status')
      }
    )

     $('#shade').fadeOut(0);
    

  })
#main-alert.alert.alert-warning
  %strong HEY!
  %span LETS START DESIGNING!
#ui2
  = render :partial => "tool/levels/file_selectors"
  %group.vert
    = render :partial => "tool/levels/actuators"
    = render :partial => "tool/levels/datasignals"
    = render :partial => "tool/levels/behaviors"
    = render :partial => "tool/levels/psychophysics"
    - render :partial => "tool/levels/composition"
    - render :partial => "tool/levels/sequencer"
    - render :partial => "tool/levels/distributed"
    - render :partial => "tool/levels/statemachine"
           
:css
  #ui2{
    height: 100%;
    overflow-y: scroll;
  }
  .ui{
  	height: 100%;
  }
  .blue{
    background: blue;
  }



 
