
:javascript
  var zb, cp, bb, vm, sm, fm, displays = [];
  var files = #{@files.to_json.html_safe};
 
  $(function(){
    ws = new WebStorage();
    $("#shade").fadeOut();
    
    dom = $('#main-canvas');
    fs = new ProjectFileManager({
      paper: Utility.paperSetup(dom),
      files: files, 
      selector: $("#file-selector"),
      onLoad: function(data){
        zb = new ZoomBar($("#zoom-bar"), 1.0, paper);
        loadCustomLibraries();
        cp = new ColorPalette($('#sidebar-left'));
        bb = new BrushBar($('#brush-bar')); 
        vm = new ViewManager($('#views'));
        $('img[tool="LEDPlacerBrush"]').click();
        CanvasUtil.call(CanvasUtil.queryPrefix("NP"), "remove");
        sm = new SelectionManager();
        cc = new ControlCenter($('#sidebar-left-control'));

      }
    });

      
       // artwork.svg.position = paper.view.center;
       // artwork.svg.position.y -= 40;
    
       
       
       // $('#cache-reload').click();
    // });

   
  // /   var confirmOnPageExit = function (e) 
  // /   {
  // /     $('#cache-save').click();
  // /     // return "Make sure you save!";
  // /   };
  // /   window.onbeforeunload = confirmOnPageExit;
  });

= render :partial => "tool/levels/file_light_designer"
.canvas-container
  %canvas#main-canvas
  #sidebar-right.col-xs-4
    %h3 MODE
    .btn-group
      %button#live.mode.btn.btn-default
        LIVE
= render :partial => "views"
= render :partial => "color_palette"
= render :partial => "control"
= render :partial => "brush_bar"
= render :partial => "zoom_bar"


:css
  body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f4f0;
  }
  .input-group {
    padding-bottom: 10px;
  }
  .badgify{
    background: white;
    border: solid 1px #999;
    border-radius: 10px;
    padding: 4px;
  }
  
  #sidebar-right{
    display: none;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;

  }

  .btn-transparent{
    background: none;
    border: none;
  }

  .btn-transparent:visited{
    color: #f5f4f0;
    outline: none;
  }
  .btn-transparent:hover{
    color: #f5f4f0;
    outline: none;
  }
  .btn-transparent:active{
    color: #f5f4f0;
    outline: none;
  }

  .btn-transparent:focus{
    color: #f5f4f0;
    outline: none;
  }

  .clearfix{
    clear: both;
  }
