   <script type="text/javascript">
      var files = <%= @files.to_json.html_safe %>;
      var ports = <%= @ports.to_json.html_safe %>;
      var papers = [];
      var miniPaper, mainPaper;
      var DEFAULT_PIPE_FILE = "example_ArcReactor.svg";
      var vm;
      $(function(){ 
        $("#shade").fadeOut("slow");
        

        // TEMPLATE UPDATE
        var widgets = $("#status .widget-title");
        var template = $('#widget-title');

        _.each(widgets, function(widget){
          var t = template.clone();
          var name = $(widget).attr('name');
        
          t.removeClass('template');
          t.find('span#name').html(name);
          $(widget).html(t.children());
        }); 

        // EYE FUNCTIONALITY
        $('.viewer').click(function(){
            $(this).parent().siblings().toggleClass('hide');
            var eye = $(this).find('span'); 
            if(eye.hasClass("glyphicon-eye-open")){ eye.removeClass('glyphicon-eye-open'); eye.addClass('glyphicon-eye-close');}
            else {eye.addClass('glyphicon-eye-open'); eye.removeClass('glyphicon-eye-close');};
           
        })
      });
           sm = new SelectionManager();
      papers = [];
      function paperSetup(id){
        var dom = $("#" + id);
        console.log(dom.parent().height());
        dom.attr('height', dom.parent().height());
        dom.attr('width', dom.parent().width());
        // paper.install(window);
        var myPaper = new paper.PaperScope();
        myPaper.setup(id);
        papers.push(myPaper);
        return myPaper;
      }
      
    </script>
  </head>
  <body>
    
   
 <%= render :partial => "widget_template" %>
    <div id="control-container">
      <div id="view-container">
        <div id="main" class="col-xs-8 nopadding">
          <%= render :partial => "canvas_widget" %>
        </div>
        
        <!-- STATUS BAR -->
        <div id="status" class="col-xs-4 nopadding">
        
         <%= render :partial => "file_select_widget" %>
         <%= render :partial => "port_select_widget" %>
         <% render :partial => "motion_widget" %>
         <% render :partial => "graph_widget" %>
         <% render :partial => "stream_widget" %>
         <%= render :partial => "quick_behaviors_widget" %>
         <%= render :partial => "selectors_widget" %>
        </div>
        <!-- END STATUS BAR -->

      </div>
      <div id="ui-container">
        <div id="ui" class="">
          <%= render :partial => "interaction_ui"%>
        </div>
      </div>
      </div>
    </div>
      <% render :partial => "modals"%>
      <%= render :partial => "views"%>
      <% render :partial => "color_palette"%>
      <% render :partial => "brush_bar"%>
      <% render :partial => "control"%>
      <% render :partial => "zoom_bar"%>
  </body>

  <style>
   	body, html{
   		width: 100%;
   		height: 100%;
   		
      background: #f5f4f0;
      /*overflow: hidden;*/
   	}
    #control-container{
      position: absolute;
      top: 0px;
      height: 100%;
      width: 100%;
      overflow: none;
      cursor: pointer;
      /*overflow: hidden;*/
    }

    #view-container{
      height: 70%;
      /*overflow: hidden;*/
    }
    #ui-container{
      /*position: absolute;*/
      /*bottom: 0;*/
      /*z-index: 10000;*/
      height: 30%;
      /*overflow: hidden;*/
    }
      #main, #status, #ui{
        height: 100%;
        /*overflow: scroll;*/
      }
        #main{
          /*background: red;*/
        }
        #status{
        /*  -webkit-box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);
          -moz-box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);
          box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);*/
          background: #333;
          /*border-top-left-radius: 10px;*/
          /*border-bottom-left-radius: 10px;*/
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181617+0,3b3a38+100 */
          background: #181617; /* Old browsers */
          background: -moz-linear-gradient(left, #181617 0%, #3b3a38 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #181617 0%,#3b3a38 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #181617 0%,#3b3a38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181617', endColorstr='#3b3a38',GradientType=1 ); /* IE6-9 */

          -webkit-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
          -moz-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
          box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
          /*overflow-y: scroll;*/
        }
        #ui{
          height: 100%;
          /*overflow: scroll;*/
          position: relative;
          /*  -webkit-box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);
          -moz-box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);
          box-shadow: -5px 6px 10px -5px rgba(0,0,0,0.43);*/
          background: #333;
          /*border-top-left-radius: 10px;*/
          /*border-bottom-left-radius: 10px;*/
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181617+0,3b3a38+100 */
          background: #181617; /* Old browsers */
          background: -moz-linear-gradient(left, #181617 0%, #3b3a38 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #181617 0%,#3b3a38 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #181617 0%,#3b3a38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181617', endColorstr='#3b3a38',GradientType=1 ); /* IE6-9 */

          -webkit-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
          -moz-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
          box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
        }

    .widget{
      position: relative;
      width: 100%;
      /*background: #DDD;*/
      /*height: 50%;*/
    }
    .widget-body{
      padding: 10px 15px;
    }
    
    .widget-title{
      /*top: 0px;*/
      background: #111;
      font-family: "Avenir";
      font-weight: bold;
      text-transform: uppercase;
      /*position: absolute;*/
      padding: 4px 15px;
      font-size: 12px;
      /*font-weight: bold;*/
      text-align: left;
      width: 100%;
      z-index: 10;
      margin-bottom: 0;
      color: white;
      -webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
      -moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
      box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
    }
    .widget img, .widget textarea{
      width: 100%;
    }
    
    .template{
      display: none;
    }
    .hide{
      display: none;
    }
    .form-control-special{
      display: block;
      /* width: 100%; */
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555555;
      background-color: white;
      background-image: none;
      border: 1px solid #cccccc;
      /*border-radius: 4px;*/
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;

      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

   
  </style>
