%p#notice= notice

%p
  %b File:
  = @resource.file
%p
  %b User:
  = @resource.user_id
%p
  %b Tags:
  = @resource.tags
%p
  %b File cache:
  = @resource.file_cache

= link_to 'Edit', edit_resource_path(@resource)
\|
= link_to 'Back', resources_path
