:coffeescript
  $ ->
    $('[data-toggle="tooltip"]').tooltip
      container: "#ui2"
    $('#actuator-library .track-full').droppable
      accept: "actuator.draggable"
      classes: { "droppable-active": "droppable-default"}
      drop: (event, ui) ->
          empty = $(this).html() == ""
          actor = am.resolve(ui.draggable)
          num_to_accept = $(this).data().accept
          ops = _.extend actor.form,
              clear: num_to_accept == 1
              target: $(this)
          ActuatorManager.create ops

:scss
  $blue: #2D6A96;
  $sexy_green: #5cb85c;
  $icon-size: 25px;
  $c6: #787c8c;
  #library{
    background: darken($c6, 30%) !important;
  }
  .icon{
    width: $icon-size; 
    height: $icon-size;
  }
  
  .nav-tabs{
    li{
      a{
        padding: 7px 15px;
        font-size: 0.8em;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.56);
       }
      &.active{
         #actuatorlib{ background-color: $blue; }
         #behaviorlib{ background-color: $sexy_green; }
      }
      #actuatorlib{
        background-color: desaturate($blue, 20%);
        &:active{ background-color: $blue; }
        &:hover{ background-color: opacify($blue, 0.1);  }
        &:focus{ background-color: opacify($blue, 0.2);  }
      }
      #behaviorlib{
        background-color: desaturate($sexy_green, 20%);
        &:active{ background-color: $sexy_green; }
        &:hover{ background-color: opacify($sexy_green, 0.1);  }
        &:focus{ background-color: opacify($sexy_green, 0.2);  }
      }
    }
  }
  .tab-content{
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
  }
  .tab-pane{
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

%event#library.actuation-design.column.vert-centered-sink-top
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a#actuatorlib{"data-toggle" => "tab", :href => "#actuator-library", :role => "tab"}
        = image_tag "/collection.svg", class: 'icon', "data-toggle": "tooltip", "data-placement": "top", title: "COLLECTIONS"
    %li
      %a#behaviorlib{"data-toggle" => "tab", :href => "#behavior-library", :role => "tab"} 
        = image_tag "/composing.svg", class: 'icon', "data-toggle": "tooltip", "data-placement": "top", title: "BEHAVIORS"
  / Tab panes
  .tab-content
    #actuator-library.tab-pane.active{:role => "tabpanel"}
      .track-full.droppable
    = render :partial => "tool/levels/behavior_library"
 
%event#group.actuation-design.shrink
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#group-button.design-title.btn-primary.trigger{:type => "trigger"}
      %span GROUP
      %span.command [G]
    .full-hoz.sexy-input-group
      
  %acceptor#group-result.actuator{:data => {:accept=> 1}}  
  #actuator-group.track-full.droppable
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
   
%event#actuators.actuation-design.template
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#slider-live.design-title.btn-primary.trigger{:type => "trigger"}
      ACTUATOR
  .track-full
    - actuators.marshal_dump.each do |name, actuator|
      %actuator.template.draggable{name: name.upcase}
        %div.simulation
          %label.title
            %span.content-editable{:contenteditable=> "false"}= name.upcase
            %span.save-status 
            %a.btn.btn-xxs.btn-danger.pull-right.remove-actuator
              =glyph "remove"
          %canvas{:type=> name.upcase }
          %label.async 100
        %channels.scroll-list
          %label.title.light CHANNELS
          - actuator.channels.marshal_dump.each do |cname, channel|
            %channel.full-hoz{type: cname}
              %label.actuator.selected 
                %span= cname
                %span.dimension.pull-right 0
          

       
