:javascript
  var sm, bm
  var DEFAULT_SA_FILE = "/actuation/devices/simplestatemachine.svg";
  var SA_FILES = [{
    path: "/actuation/devices/", 
    title: "simplestatemachine",
    name: "simplestatemachine.svg"
  }, 
  {
    path: "/actuation/devices/", 
    title: "knobandleds",
    name: "knobandleds.svg"
  }]
  var BASE_B = "/assets/aesthetic_actuation/levels/Benchmark/simplestatemachine/"
  var DEFAULT_B_FILE = BASE_B + "full_cycle.js";
  var B_FILES = [{
    path: BASE_B, 
    title: "full_cycle",
    name: "full_cycle.js"
  }, 
  {
    path: BASE_B, 
    title: "awake_and_forgotten",
    name: "awake_and_forgotten.js"
  }, 
  {
    path: BASE_B, 
    title: "bad_turner",
    name: "bad_turner.js"
  }]

  $(function(){
    initInteractionLevel();
    $('#shade').fadeOut(0);


  });
  function initInteractionLevel(){
    sm = new StateMachineAutomata(
      {
        restart: $('#restart-sm'),
        live: $('#live-sm'), 
        dom: $("statemachine canvas")
      }
    );
    sm_fm = new StateMachineFileManager({
      files: SA_FILES, 
      default: DEFAULT_SA_FILE, 
      paper: sm.paper,
      selector: $("#sa_file-selector"),
      status: $("#file-status"),
      onLoad: function(){
        sm.initMachine()
      }
    });
    bm = new Benchmark({
      editor: "benchmark", 
      run_button: $('#benchmark-run')
    })
    bm_fm = new BenchmarkFileManager({
      files: B_FILES, 
      default: DEFAULT_B_FILE, 
      selector: $("#benchmark-selector"),
      status: $("#benchmark-status"), 
      onLoad: function(data){
        bm.clearEditor()  
        bm.editor.insert(data)
      }
    });  
  }
  // #ui2
  // %group.vert

%event#interaction.full-hoz.tall
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      INTERACTION
    / %button.btn.btn-xs.btn-danger.sexy
    /   %span.glyphicon.glyphicon-refresh
    /   UPDATE
  #stateviewer.vert-centered
    .full-hoz
      #file-select.widget.status
        .widget-body.hoz
          %div.hoz-left{:style => "width: 50%;"}
            %span#file-info
              LOADED:
              %span#file-status –
          %div{:style => "width: 50%;"}
            %select#sa_file-selector.sm.col-xs-10
            .socket-btns.btn-group.col-xs-2.nopadding
              %button#socket-button.btn.btn-xs.btn-success.btn-block
                = glyph "import"
          %br.clearfix/
    %statemachine.vert-centered
      %canvas.droppable
    .full-hoz
      .btn-group.full-hoz-right
        %button#restart-sm.btn.btn-xs.btn-primary.sexy
          = glyph "refresh"
          RESTART
        %button#live-sm.btn.btn-xs.btn-danger.sexy
          = glyph "dashboard"
          LIVE
  #benchmarks.vert-centered
    .full-hoz
      #benchmark-select.widget.status
        .widget-body.hoz
          %div.hoz-left{:style => "width: 50%;"}
            %span#benchmark-info
              LOADED:
              %span#benchmark-status –
          %div{:style => "width: 50%;"}
            %select#benchmark-selector.sm.col-xs-9
            .socket-btns.btn-group.col-xs-3.nopadding
              %button#socket-button.btn.btn-xs.btn-success.btn-block
                = glyph "import"
          %br.clearfix/
    #benchmark
    .full-hoz
      .btn-group.full-hoz-right
        %button#benchmark-run.btn.btn-xs.btn-danger.sexy
          = glyph "chevron-right"
          RUN
:css
  #interaction{
    height: 500px;
  }
  statemachine{
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    width: 99%;
    margin-top: 10px;
  }
  #benchmark{
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    width: 99%;
    margin-top: 10px;
  }                       
      
      