<h1>Listing visual_blocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_blocks.each do |visual_block| %>
      <tr>
        <td><%= visual_block.name %></td>
        <td><%= image_tag(visual_block.image.thumbnail.url) %></td>
        <td><%= visual_block.data %></td>
        <td><%= link_to 'Show', visual_block %></td>
        <td><%= link_to 'Edit', edit_visual_block_path(visual_block) %></td>
        <td><%= link_to 'Destroy', visual_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual block', new_visual_block_path %>
